/*
Theme Name: Video Platform 
Author: Ivan Majeru
Author URI: 
Description:
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: video, video platform 
Text Domain: videoplatform

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
    background-color: #f0f0f0;
}

h1 {
   font-size: 26px;
}

#cats {
    margin-left: 35px;
}

#footer {
}

.video-box {
}

.video-box .thumbnail {
} 

.video-box h5 {
    padding-left: 5px;
    margin: 3px;
    font-size: 14px;
}

#index-content h2 {
    font-weight: bold;
    font-size: 16px;
    margin: 2px;
    color: #2196f3;
}

.video-box .video-info div {
    line-height: 1.3;
}

.video-box .video-price {
    position: absolute;
    color: #fff;
    /*border: 2px solid white;*/
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 3px 10px;
    margin: 5px;
    font-weight: 600;
    
}

/* single */
#content-title h1 {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: start;
    line-height: 24px;
    margin-top: 0;
}

#content-video {
    margin-bottom: 10px;
    width: 100%;
}

#content-video video {
    width: 100%;
}

#content-title .author-name {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    text-align: start;
    margin: 5px;
}

#content-title .video-views {
    font-size: 14px;
}

#content-title hr {
    margin: 15px;
}

.video-likes a {
    height: 20px;
}

#content-title .video-actions {
    margin-top: 15px;
}

/* comments */

#comments h3 {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: start;
    line-height: 24px;
    margin-top: 0;

}


@media (min-width: 1200px) {
    .navbar-form .form-control {
        width: 400px;
    }
}
